src/main/java/client/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.akdriss.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.akdriss.com/" name="BnqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.akdriss.com/" schemaLocation="http://localhost:5555/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"></part>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"></part>
</message>
<message name="convertEuroToDH">
<part name="parameters" element="tns:convertEuroToDH"></part>
</message>
<message name="convertEuroToDHResponse">
<part name="parameters" element="tns:convertEuroToDHResponse"></part>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<portType name="BanqueService">
<operation name="getAll">
<input wsam:Action="http://ws.akdriss.com/BanqueService/getAllRequest" message="tns:getAll"></input>
<output wsam:Action="http://ws.akdriss.com/BanqueService/getAllResponse" message="tns:getAllResponse"></output>
</operation>
<operation name="convertEuroToDH">
<input wsam:Action="http://ws.akdriss.com/BanqueService/convertEuroToDHRequest" message="tns:convertEuroToDH"></input>
<output wsam:Action="http://ws.akdriss.com/BanqueService/convertEuroToDHResponse" message="tns:convertEuroToDHResponse"></output>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.akdriss.com/BanqueService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://ws.akdriss.com/BanqueService/getCompteResponse" message="tns:getCompteResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="convertEuroToDH">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BnqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:5555/"></soap:address>
</port>
</service>
</definitions>